[user]
    email = me@theodorosploumis.com
    name = Theodoros Ploumis

[core]
  autocrlf = false
  safecrlf = false
  ignorecase = false
  editor = /ide/bin/open -n -w
  filemode = false

[push]
  default = simple

[branch]
  autosetuprebase = always

[color]
  ui = true

[rerere]
  enabled = true
  autoupdate = true

[fetch]
    prune = true

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[credential]
        helper = /usr/bin/gp credential-helper