[user]
    email = me@theodorosploumis.com
    name = Theodoros Ploumis

# [user]
# Used on Drupal.org
# email = theodorosploumis@869224.no-reply.drupal.org

[core]
  autocrlf = false
  safecrlf = false
  ignorecase = false
  editor = /usr/bin/vim -n -w
  filemode = false

[push]
  default = simple

[branch]
  autosetuprebase = always

[color]
  ui = true

[alias]


[rerere]
  enabled = true
  autoupdate = true

# [diff]
#     tool = meld
#     renames=copies
# [difftool]
#     prompt = false
# [difftool "meld"]
#     cmd = meld "$LOCAL" "$REMOTE"

# [merge]
#     tool = meld
# [mergetool "meld"]
#     cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[fetch]
    prune = true

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[credential]
    helper = store
